{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
	<form method="post">
		<fieldset>
			<legend>
				<h1>{% block title %}Inicio de sesión{% endblock %}</h1>
			</legend>
			<label for="username">Usuario</label>
			<input name="username" id="username" autofocus required>
			<label for="password">Contraseña</label>
			<input type="password" name="password" id="password" required/>
			<input class="buttonlog" type="submit" value="Iniciar sesión"/>
		</fieldset>
	</form>
{% endblock %}
