{% extends 'base.html' %}

{% block header %}
<div>
	<h1>{% block title %}Tus Tareas{% endblock %}</h1>
</div>
<div>
	<a class='action' href="{{ url_for('todo.move') }}">Reordena <span class="material-symbols-outlined">swap_vert</span></a>
	{% if g.user %}
	<a class='action' href="{{ url_for('todo.create') }}">Nueva Tarea</a>
	{% endif %}
</div>
{% endblock %}


{% block content %}
<ul>
	{% for todo in todos %}
	<li class="todo">
		<div class="tarea">
			<h1>
				{% if todo['completed'] == 1 %}
				<del>{{ todo['description'] }}</del>
				{% else %}
				{{ todo['description'] }}
				{% endif%}
			</h1>
			<a class="edit" href="{{ url_for('todo.update', id=todo['id']) }}"><span class="material-symbols-outlined">edit</span></a>
				{% if todo['category'] != 'NULL' and todo['category'] != None and todo['category'] != 'None'%}
				<span class="cate">#{{ todo['category'] }}</span>
				{% endif %}
		</div>
	</li>
	{% if not loop.last %}
	{% endif%}
	{% endfor %}
</ul>
{% endblock %}
